<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「効率よくお買い物」の帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      <p>効率よくお買い物ができる</p>
      <p>在庫管理 & メモアプリ</p>
    </h2>
    <p class='service-explain'>
      出かける前の3分で　気づいた時の1分で
    </p>
    <p class='service-explain'>
      シンプルで素早くチェック
    </p>
  </div>
  <%# /画面上部の「効率よくお買い物」の帯部分  %>

  <%# 在庫アイテム一覧の上部 %>
  <div class='item-contents'>
    <h2 class='title'>お家の在庫アイテム一覧</h2>
      <%= link_to  "#", class: "item-btn" do %>
        在庫リストに<br>追加
      <% end %>
      <%= link_to  "#", class: "shopping-save-btn" do %>
        買い物リストに<br>追加して保存
      <% end %>
    <div class="item-list-explanation">
      <ul>
        <li>・アイテム名をクリックすると詳細が確認できます。</li>
        <li>・🎨マークを押すと文字が赤色になります。(在庫が少ないなどの区別)<br>　　※すぐに購入は必要しないが、特売などで検討購入</li>
        <li>・同じアイテム名のものは登録できません。</li>
      </ul>
    </div>
  </div>
  <%#/ 在庫アイテム一覧の上部 %>

  <%# カテゴリ別の在庫リスト部分 %>
  <div class='category-contents'>
    <h2 class='category-title'>冷蔵/冷凍食材</h2>
    <ul>
      <li>aaa</li>
      <li>bbb</p></li>
      <li>ccc</li>
    </ul>
  </div>
  <%# カテゴリ別の在庫リスト部分 %>
</div>


<%# furimaの時の右下固定の出品ボタンの部分 %>
<%# <%= link_to('#', class: 'purchase-btn') do %> %>
  <%# <span class='purchase-btn-text'>出品する</span> %>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %> %>
<%# <% end %> %>
<%# furimaの時の右下固定の出品ボタンの部分 %>


<%= render "shared/footer" %>
