<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「効率よくお買い物」の帯部分 %>
  <% unless user_signed_in? %>
    <div class='title-contents'>
      <h2 class='service-title'>
        <p>効率よくお買い物ができる</p>
        <p>在庫管理 & メモアプリ</p>
      </h2>
      <p class='service-explain'>
        出かける前の3分で　気づいた時の1分で
      </p>
      <p class='service-explain'>
        シンプルで素早くチェック
      </p>
    </div>
  <% end %>
  <%# /画面上部の「効率よくお買い物」の帯部分  %>

  <%# 在庫アイテム一覧の上部 %>
  <div class='item-contents'>
    <h2 class='title'>
      お家の在庫アイテム一覧
    </h2>
    <% if user_signed_in? %>
      <%= link_to new_item_path, class: "item-btn" do %>
        在庫リストに<br>商品を登録
      <% end %>
      <%# <%= link_to "#", class: "shopping-save-btn" do %>
        <%# 買い物メモに<br>追加して保存 %>
      <%# <% end %>
    <% else %>
      <%= link_to "#", class: "item-btn" do %>
        在庫リストに<br>商品を登録<br>
      <% end %>
      <%# <%= link_to "#", class: "shopping-save-btn" do %>
        <%# 買い物メモに<br>追加して保存 %>
      <%# <% end %>
    <% end %>
  </div>
  <%#/ 在庫アイテム一覧の上部 %>

  <%# カテゴリ別の在庫リスト部分 %>
  <div class="category">
    <div class="category-list">
      <div class='category-contents'>
        <div class='category-title'>
          <h1>冷蔵/冷凍食材</h1>
        </div>
        <ul class="stock-items">
          <% @items.each do |item| %>
            <div class="name">
            <% if item.place_category_id == 2 && (user_signed_in? && current_user.id) == item.user_id %>
              <span><%= link_to item.name, "#", class:"item-name"  %></span>
            <% else %>
              <p><%= "" %></p>
            <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
    <div class="category-list">
      <div class='category-contents'>
        <div class='category-title'>
          <h1>常温食材/消耗備品</h1>
        </div>
        <ul class="stock-items">
          <% @items.each do |item| %>
            <div class="name">
            <% if item.place_category_id == 3 && (user_signed_in? && current_user.id) == item.user_id %>
              <span><%= link_to item.name, "#", class:"item-name"  %></span>
            <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <div class="category">
    <div class="category-list">
      <div class='category-contents'>
        <div class='category-title'>
          <h1>風呂/トイレ/洗面所</h1>
        </div>
        <ul class="stock-items">
          <% @items.each do |item| %>
            <div class="name">
            <% if item.place_category_id == 4 && (user_signed_in? && current_user.id) == item.user_id %>
              <span><%= link_to item.name, "#", class:"item-name" %></span>
            <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
    
    <div class="category-list">
      <div class='category-contents'>
        <div class='category-title'>
          <h1>その他</h1>
        </div>
        <ul class="stock-items">
          <% @items.each do |item| %>
            <div class="name">
            <% if item.place_category_id == 5 && (user_signed_in? && current_user.id) == item.user_id %>
              <span><%= link_to item.name, "#", class:"item-name" %></span>
            <% end %>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>



<%# furimaの時の右下固定の出品ボタンの部分 %>
<%# <%= link_to('#', class: 'purchase-btn') do %>
  <%# <span class='purchase-btn-text'>出品する</span> %>
  <%# <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<%# <% end %>
<%# furimaの時の右下固定の出品ボタンの部分 %>


<%= render "shared/footer" %>
